<div class="jumbotron">
  <h1 ALIGN=center>Listing Users</h1><br>
  <p ALIGN=center><a class="btn btn-lg btn-success" href="/users/new" role="button">New User</a></p>
  <br>
  <table align="center" width="60%" height="100%">
  <thead>
    <tr>
      <th align="center" valign="center"><p class="lead" ALIGN=center>UserName</p></th>
      <th align="center" valign="center"><p class="lead" ALIGN=center>E-Mail</p></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>